{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>ACG Wallpaper Collection</title>
    <meta name="author" content="Hyscli">
    <meta name="description" content="ACG Wallpaper Collection">
    <meta name="keywords" content="ACG,Wallpaper,Collection,Comic,AVG,Game,Animation,">
    <meta http-equiv="window-target" content="_top">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/index/">ACG Wallpaper Collection</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Rating
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/index/safe/wallpaper/hd/1/">Safe</a></li>
                            <li class="divider"></li>
                            <li><a href="/index/questionable/wallpaper/hd/1/">Questionable</a></li>
                            <li class="divider"></li>
                            <li><a href="/index/explicit/wallpaper/hd/1/">Explicit</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Size
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/index/safe/wallpaper/hd/1/">HD</a></li>
                            <li class="divider"></li>
                            <li><a href="/index/safe/wallpaper/fhd/1/">FHD</a></li>
                            <li class="divider"></li>
                            <li><a href="/index/safe/wallpaper/qhd/1/">QHD</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Help</a></li>
                    <li><a href="mailto:hacker.carl@gmail.com">Contact</a></li>
                </ul>
            </div>
            <div>
                <form class="navbar-form navbar-right" action="/index/safe/wallpaper/hd/1/" role="search" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search" name="search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
            {% if loginstatus == "login" %}
            <div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Logout</a></li>
                </ul>
            </div>
            {% endif %}
            {% if loginstatus == "logout" %}
            <div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Regist</a></li>
                    <li><a href="#">Login</a></li>
                </ul>
            </div>
            {% endif %}
        </div>
    </nav>
    {% if message == '' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                <ul class="list-group">
                    {% for tag in tag_list %}
                    <li class="list-group-item" style="word-break:normal; word-wrap:normal;">
                        <a href="/index/safe/{{ tag.link }}/hd/1/">{{ tag.tag }}({{ tag.count }})</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 panel panel-default">
                <div class="row">
                    {% get_static_prefix  as STATIC_PREFIX %}
                    <img class="img-responsive" src="{{ STATIC_PREFIX }}images/original/{{ rating }}/{{ tag }}/{{ file }}"><br>
                </div>
                <div>
                    <p><br></p>
                    <p class="text-justify word-wrap"><strong>Tags:{{ tags }}</strong></p>
                    <p class="text-justify word-wrap"><strong>Size:{{ width }}X{{ height }}</strong></p>
                    <p class="text-justify word-wrap"><strong>Reference:<a href="{{ refer }}">{{ refer }}</a></strong></p>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="container-fluid">
        <h1>{{ message }}</h1>
    </div>
    {% endif %}
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>