{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>ACG Wallpaper Collection</title>
    <meta name="author" content="Hyscli">
    <meta name="description" content="ACG Wallpaper Collection">
    <meta name="keywords" content="ACG,Wallpaper,Collection,Comic,AVG,Game,Animation,">
    <meta http-equiv="window-target" content="_top">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
        .demo {
            padding: 2em 0;
        }

        .box {
            text-align: center;
            overflow: hidden;
            position: relative;
        }

        .box:before {
            content: "";
            width: 0;
            height: 100%;
            background: #000;
            padding: 14px 18px;
            position: absolute;
            top: 0;
            left: 50%;
            opacity: 0;
            transition: all 500ms cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
        }

        .box:hover:before {
            width: 100%;
            left: 0;
            opacity: 0.5;
        }

        .box img {
            width: 100%;
            height: auto;
        }

        .box .box-content {
            width: 100%;
            padding: 14px 18px;
            color: #fff;
            position: absolute;
            top: 38%;
            left: 0;
        }

        .box .title {
            line-height: 30px;
            text-transform: uppercase;
            margin: 0;
            opacity: 0;
            transition: all 0.5s ease 0s;
        }

        .box .post {
            font-size: 15px;
            text-transform: capitalize;
            opacity: 0;
            transition: all 0.5s ease 0s;
        }

        .box:hover .title,
        .box:hover .post {
            opacity: 1;
            transition-delay: 0.7s;
        }

        .box .icon {
            padding: 0;
            margin: 0;
            list-style: none;
            margin-top: 15px;
        }

        .box .icon li {
            display: inline-block;
        }

        .box .icon li a {
            display: block;
            width: 40px;
            height: 40px;
            line-height: 40px;
            border-radius: 50%;
            background: #f74e55;
            font-size: 20px;
            font-weight: 700;
            color: #fff;
            margin-right: 5px;
            opacity: 0;
            transform: translateY(50px);
            transition: all 0.5s ease 0s;
        }

        .box:hover .icon li a {
            opacity: 1;
            transform: translateY(0px);
            transition-delay: 0.5s;
        }

        @media only screen and (max-width:990px) {
            .box {
                margin-bottom: 30px;
            }
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/index/">ACG Wallpaper Collection</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <script>
                            var path = document.location.pathname;
                            var paras = path.split('/');
                            var rating = paras[3];
                            var tag = paras[4];
                            var size = paras[5];
                            var page = paras[6];
                        </script>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Rating
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <script>
                                document.write("<li><a href=\"/index/" + "safe/" + tag + "/" + size + "/" + "1" + "/\"" + ">Safe</a></li>")
                            </script>
                            <li class="divider"></li>
                            <script>
                                document.write("<li><a href=\"/index/" + "questionable/" + tag + "/" + size + "/" + "1" + "/\"" + ">Questionable</a></li>")
                            </script>
                            <li class="divider"></li>
                            <script>
                                document.write("<li><a href=\"/index/" + "explicit/" + tag + "/" + size + "/" + "1" + "/\"" + ">Explicit</a></li>")
                            </script>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Size
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <script>
                                document.write("<li><a href=\"/index/" + rating + "/" + tag + "/" + "hd" + "/" + "1" + "/\"" + ">HD</a></li>")
                            </script>
                            <li class="divider"></li>
                            <script>
                                document.write("<li><a href=\"/index/" + rating + "/" + tag + "/" + "fhd" + "/" + "1" + "/\"" + ">FHD</a></li>")
                            </script>
                            <li class="divider"></li>
                            <script>
                                document.write("<li><a href=\"/index/" + rating + "/" + tag + "/" + "qhd" + "/" + "1" + "/\"" + ">QHD</a></li>")
                            </script>
                        </ul>
                    </li>
                    <li><a href="#">Help</a></li>
                    <li><a href="mailto:hacker.carl@gmail.com">Contact</a></li>
                </ul>
            </div>
            <div>
                <form class="navbar-form navbar-right" role="search" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search" name="search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
            {% if loginstatus == "login" %}
            <div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Logout</a></li>
                </ul>
            </div>
            {% endif %}
            {% if loginstatus == "logout" %}
            <div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Regist</a></li>
                    <li><a href="#">Login</a></li>
                </ul>
            </div>
            {% endif %}
        </div>
    </nav>
    {% if message == '' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                <ul class="list-group">
                    {% for tag in tag_list %}
                    <li class="list-group-item" style="word-break:normal; word-wrap:normal;">
                        <script>
                            document.write("<a href=\"/index/" + rating + "/" + "{{ tag.link }}" + "/" + size + "/" + "1" + "/\"" + ">{{ tag.tag }}({{ tag.count }})</a>")
                        </script>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 panel panel-default">
                <div>
                    {% if tag == None %}
                    <h1>Wallpaper</h1>
                    {% else %}
                    <h1>{{ tag }}</h1>
                    {% endif %}
                </div>
                <div class="row">
                    {% for image in images %}
                    <div class="col-sm-6 col-md-3">
                        {% if loginstatus == "login" %}
                        <div class="box">
                            <a href="/image/{{ image.id }}/" class="thumbnail">
                                {% get_static_prefix  as STATIC_PREFIX %}
                                <img class="img-responsive" src="{{ STATIC_PREFIX }}images/thumbnail/{{ image.rating }}/{{ image.tag }}/{{image.file}}">
                            </a>
                            <div class="box-content">
                                <span class="title"> <a href="/image/{{ image.id }}/" class="btn btn-danger">Original</a> </span>
                                <ul class="icon">
                                    <li>
                                        <form class="title" method="POST">
                                            <input type="hidden" name="img_id" value="{{ image.id }}">
                                            <input type="hidden" name="img_mark" value="like">
                                            <button type="submit" class="btn btn-default">Like</button>
                                        </form>
                                    </li>
                                    <li>
                                        <form class="title" method="POST">
                                            <input type="hidden" name="img_id" value="{{ image.id }}">
                                            <input type="hidden" name="img_mark" value="dislike">
                                            <button type="submit" class="btn btn-default">Dislike</button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        {% endif %}
                        {% if loginstatus == "logout" %}
                        <a href="/image/{{ image.id }}/" class="thumbnail">
                            <img class="img-responsive" src="{% static "images/" %}thumbnail/{{ image.rating }}/{{image.file}}">
                        </a>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
                <div>
                    <br>
                    <nav style="text-align: center">
                        <ul class="pagination">
                            {% if images.has_previous %}
                            <li class="active">
                                <script>
                                    document.write("<a href=\"/index/" + rating + "/" + tag + "/" + size + "/" + "{{ images.previous_page_number }}" + "/\"" + ">Previous</a>")
                                </script>
                                {% else %}
                            <li class="disabled">
                                <a href="#">Previous</a>
                                {% endif %}
                            </li>

                            <li class="disabled">
                                <a href="#">Page {{ images.number }} of {{ images.paginator.num_pages }}.</a>
                            </li>

                            {% if images.has_next %}
                            <li class="active">
                                <script>
                                    document.write("<a href=\"/index/" + rating + "/" + tag + "/" + size + "/" + "{{ images.next_page_number }}" + "/\"" + ">Next</a>")
                                </script>
                                {% else %}
                            <li class="disabled">
                                <a href="#">Next</a>
                                {% endif %}
                            </li>
                        </ul>
                    </nav>
                    <br>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="container-fluid">
        <h1>{{ message }}</h1>
    </div>
    {% endif %}
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>